

<link rel="icon" type="image/png" href="~/Content/LoginTemplate/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->


<div class="login-page mt-3">
    <div class="form">
        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "login-form" }))
        {
            @Html.AntiForgeryToken()

            <div class="wrap-input100 validate-input">
                <input type="text" class="input100" placeholder="Enter Old Password" name="OldPassword" id="OldPassword" required />
            </div>
            <div class="wrap-input100 validate-input">
                <input type="password" class="input100" placeholder="Enter New Password" name="NewPassword" id="NewPassword" required />
            </div>
            <div class="wrap-input100 validate-input">
                <input type="password" class="input100" placeholder="Enter New Password" name="ConfirmPassword" id="ConfirmPassword" required />
            </div>
            @*<input type="text" class="input100" placeholder="Enter New Password" name="NewPassword" id="NewPassword" required />
                <input type="text" class="input100" placeholder="Enter New Password" name="ConfirmPassword" id="ConfirmPassword" required />*@





            @*<div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="password" id="password">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>*@
            @ViewBag.message

            <div class="container-login100-form-btn">

                <input type="submit" class="login100-form-btn" value="Login" />
            </div>
            @*<input type="submit" value="Change Password" id="btnlogin" />*@
        }

    </div>

</div>


<!--===============================================================================================-->
<!--===============================================================================================-->
<script src="~/Content/LoginTemplate/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/LoginTemplate/vendor/bootstrap/js/popper.js"></script>
<script src="~/Content/LoginTemplate/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/LoginTemplate/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/LoginTemplate/vendor/daterangepicker/moment.min.js"></script>
<script src="~/Content/LoginTemplate/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/Content/LoginTemplate/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/Content/LoginTemplate/js/main.js"></script>
