
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnderReview</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
    <div> 
        <h2 class="text-danger text-danger">Under Review</h2>
        @Html.ActionLink("Login", "Login", "Home", null,new { @class = "genric-btn-cericl success" }))
    </div>
</body>
</html>
